body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}

img{
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    background-color: rgb(90, 151, 212);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1{
    font-weight: normal;
}

.galerija{
    padding: 0;
    justify-content: space-between;
}

.slika{
    width: 200px;
    margin: 0 auto;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 0 0 12px 0px rgb(121, 121, 121);
    margin-bottom: 50px;
    text-align: center;
}

.slika p{
    margin: 0;
    padding: 10px 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
   .wrapper{
    text-align: left;
   }

    .galerija{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 1024px){
    .wrapper{
        text-align: left;
    }

    .galerija{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    .slika{
        margin-right: 10px;
    }
}
